<!DOCTYPE html5>
<html>
    <head>
        <title>Pruebas de Software</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Pruebas de Software</h1>
        </div>
        
        <div class="container">
            <div class="row content">
                <div class="col-sm-3 sidenav">     
                </div>            
                <div class="col-sm-6">
                    <form action="">
                        <input type="file" id="logo" class="btn btn-secondary btn-block">
                        <button class="btn btn-primary btn-block">Calculate</button>
                    </form>
                </div>
            </div>
        </div>
        <footer class="container-fluid">
            <p>Universidad de Antioquia - Pruebas de Software</p>
        </footer>
    </body>
</html>
